/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-serif: "Atkinson Hyperlegible", sans-serif;

/*-- scss:rules --*/

.highlight-peach {
  background-color: #FEBC94;
  padding: 0.0em 0.1em;
}